
.navbar-item {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

hr {
    border-top: 2px solid #0b2447;
}


.header-with-icon {
    display: flex;
    align-items: center;
}

.header-with-icon h2.title {
    margin-right: 0.5rem;
}

.header-with-icon span.icon {
    margin-right: 1rem;
}

#one{
    background-color:#576cbc ;
}
